# ==============================================================================
# zsh general settings
# ==============================================================================
setopt no_beep
export HISTSIZE=10001
export SAVEHIST=100001
setopt hist_ignore_dups
# ==============================================================================
# zsh general add-on
# ==============================================================================
{{ if (eq .chezmoi.os "darwin") }}
# zsh-completions
if type brew &>/dev/null; then
    FPATH=$(brew --prefix)/share/zsh-completions:$FPATH
    source $(brew --prefix)/share/zsh-autosuggestions/zsh-autosuggestions.zsh
    autoload -Uz compinit
    zstyle ':completion:*' matcher-list 'm:{a-z}={A-Z}'
    compinit
fi
{{ end }}
# fzf completions ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
export FZF_DEFAULT_COMMAND='rg --files --hidden --glob "!.git"'
export FZF_DEFAULT_OPTS='--height 70% --reverse --border'
# ctrl+R to search command history
function fzf-history-widget() {
    local tac=${commands[tac]:-"tail -r"}
    BUFFER=$( ([ -n "$ZSH_NAME" ] && fc -l 1 || history) | sed 's/ *[0-9]* *//' | eval $tac | awk '!a[$0]++' | fzf +s)
    CURSOR=$#BUFFER
    zle clear-screen
}
zle     -N   fzf-history-widget
bindkey '^R' fzf-history-widget
# ctrl+T to search files
fzf-file-widget() {
  local selected_file=$(fd -t file | fzf --preview "bat --style=numbers --color=always {}")
  BUFFER="${BUFFER:0:$CURSOR}$selected_file${BUFFER:$CURSOR}"
  CURSOR=$((CURSOR + ${#selected_file}))
  zle redisplay
}
zle -N fzf-file-widget
bindkey '^T' fzf-file-widget
# ctrl+F to ripgrep
fzf-rg-widget() {
  BUFFER="rg \"\" --sort path -n --color always --no-heading"
  CURSOR=4
  zle redisplay
}
zle -N fzf-rg-widget
bindkey '^P' fzf-rg-widget
# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
{{ if (eq .chezmoi.os "darwin") }}
# autopair.zsh
source /opt/homebrew/share/zsh-autopair/autopair.zsh
# fast-syntax-highlighting
source /opt/homebrew/opt/zsh-fast-syntax-highlighting/share/zsh-fast-syntax-highlighting/fast-syntax-highlighting.plugin.zsh
# zsh-abbr
source /opt/homebrew/share/zsh-abbr/zsh-abbr.zsh
typeset -gi ABBR_QUIET=1
# homebrew
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ end }}
# ==============================================================================
# commandline utilities
# ==============================================================================
# starship
eval "$(starship init zsh)"
# zoxied
eval "$(zoxide init zsh)"
# zsh-abbr
for substitution in ${(f)"$(defaults read ~/Library/Preferences/.GlobalPreferences.plist NSUserDictionaryReplacementItems | plutil -convert json -o - - | jq -r 'to_entries[] | "\(.value.replace)=\(.value.with)"')"}; do
  abbr add [options] "$substitution"
done
# mocword
export MOCWORD_DATA=~/.cache/mocword.sqlite
{{ if (eq .chezmoi.username "ryosuke.nakata") }}
eval "$(direnv hook zsh)"
{{ end }}
# ==============================================================================
# language settings
# ==============================================================================
# General(mise)
eval "$(~/.local/bin/mise activate zsh)"
# Rust
source $HOME/.cargo/env
# Go
export GOPATH=$HOME/go
export PATH=$PATH:$GOPATH/bin
# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Node JS
VOLTA_HOME=$HOME/.volta
export PATH=$VOLTA_HOME/bin:$PATH
# ==============================================================================
# aliases
# ==============================================================================
# general use for rewrite in rust
abbr -S lls='eza -lF --icons'
abbr -S la='eza -laF --icons'
abbr -S l='eza -lbF --git --icons'
abbr -S ll='eza -lbGF --git --icons'
abbr -S llm='eza -lbGd --git --sort=modified --icons'
abbr -S lla='eza -lbhHigUmuSa --time-style=long-iso --git --color-scale --icons'
abbr -S lx='eza -lbhHigUmuSa@ --time-style=long-iso --git --color-scale --icons'
# specialty views
abbr -S lt='eza --tree --level=2 --icons' # tree
abbr -S tree='eza -T --icons'
# cat
abbr -S catall='bat -A'
# find
abbr -S finde='fd -e'
abbr -S findh='fd -H'
abbr -S findi='fd -I'
# git
abbr -S ga='git add -A'
abbr -S gc='git commit -m'
abbr -S gps='git push'
abbr -S gpl='git pull'
abbr -S grm='git rm -r --cached .'
# gitui
abbr -S gu='gitui'
# neovim
abbr -S nv='nvim'
# cargo-compete
abbr -S compete='cargo compete'
# show global ip
abbr -S gip='curl inet-ip.info'
# ripgrep abbr
abbr -S rp='rg "" --sort path -n --color always'
