"行頭のマークが出る部分を常に表示するようにする
let g:ale_sign_column_always = 1

" Lint
let g:ale_linters = {
\'rust': ['analyzer'],
\'javascript': ['rome'],
\'vue': ['rome'],
\'ruby': ['rubocop'],
\}
"自動整形
let g:ale_fixers = {
\ 'rust': ['rustfmt'],
\}
"ファイル保存時に整形実行
let g:ale_fix_on_save = 1
" 保存時のみ実行する
let g:ale_lint_on_text_changed = 0
" 
let g:ale_scss_stylelint_use_global = 1
" 表示に関する設定
" let g:ale_sign_error = ''
" let g:ale_sign_warning = ''
let g:airline#extensions#ale#open_lnum_symbol = '('
let g:airline#extensions#ale#close_lnum_symbol = ')'
" エラー行にカーソルをあわせた際に表示されるメッセージフォーマット
let g:ale_echo_msg_format = '[%linter%]%code: %%s'
highlight link ALEErrorSign Tag
highlight link ALEWarningSign StorageClass
" Ctrl + jで次の指摘へ、Ctrl + kで前の指摘へ移動
nmap <silent> <C-w>k <Plug>(ale_previous_wrap)
nmap <silent> <C-w>j <Plug>(ale_next_wrap)