local lspconfig = require('lspconfig')

lspconfig.rust_analyzer.setup {
  -- Server-specific settings. See `:help lspconfig-setup`
  settings = {
    ['rust-analyzer'] = {},
  },
}

lspconfig.jedi_language_server.setup {
  -- Server-specific settings. See `:help lspconfig-setup`
  settings = {
    ['jedi_language_server'] = {},
  },
}

lspconfig.rubocop.setup {
  -- Server-specific settings. See `:help lspconfig-setup`
  settings = {
    ['rubocop'] = {},
  },
}

lspconfig.tailwindcss.setup {
  -- Server-specific settings. See `:help lspconfig-setup`
  settings = {
    ['tailwindcss'] = {},
  },
}