-- =============================================================================
-- Editor settings
-- =============================================================================
-- Enable mouse usage (all modes) in terminals
vim.opt.mouse = 'a'
-- set showmode
vim.opt.showmode = true
-- set showmatch
vim.opt.showmatch = true
-- set title
vim.opt.title = true
-- set inccommand=split: Demo -> https://youtu.be/sA3z6gsqOuw
vim.opt.inccommand = 'split'
-- set imdisable: turn off IME when change Inserte mode to Normal mode
vim.opt.imdisable = true
-- set hidden: The currently open buffer can be switched while it is being edited.
vim.opt.hidden = true
-- set nowritebackup: disable to make backup files before save the file
vim.opt.writebackup = false
-- set nobackup: disable to make backup files
vim.opt.backup = false
-- set noswapfile: disable to make swp files
vim.opt.swapfile = false
-- set conceallevel=0:
vim.opt.conceallevel = 0
-- set cursorline
vim.opt.cursorline = true
-- set clipboard=unnamed,unnamedplus: avalable clipboard
vim.opt.clipboard = 'unnamedplus,unnamed'
-- set updatetime=300
vim.opt.updatetime = 300
-- set timeoutlen=300 -- http://stackoverflow.com/questions/2158516/delay-before-o-opens-a-new-line
vim.opt.timeoutlen = 300
-- set scrolloff=2
vim.opt.scrolloff = 2
-- set nowrap: Disavalable to wrap the line
vim.opt.wrap = false
-- set nojoinspaces: Insert a single space when J or gJ and concatenating lines
vim.opt.joinspaces = false
-- set fileencodings=utf-8,iso-2022-jp,euc-jp,sjis
vim.opt.fileencodings = { 'utf-8', 'iso-2022-jp', 'euc-jp', 'sjis' }
-- set fileencoding=utf-8
vim.opt.fileencoding = 'utf-8'
-- set fileformats=unix,dos,mac
vim.opt.fileformats = { 'unix', 'dos', 'mac' }
-- set tabstop=4
vim.opt.tabstop = 4
vim.opt.shiftwidth = 4
-- set expandtab
vim.opt.expandtab = true
vim.opt.autoindent = true
vim.opt.smartindent = true
-- set wildmenu
vim.opt.wildmenu = true
-- set wildmode=list:longest
vim.opt.wildmode = 'longest,full'
-- set wildignorecase
vim.opt.wildignorecase = true
-- set wildignore=.hg,.svn,*~,*.png,*.jpg,*.gif,*.settings,Thumbs.db,*.min.js,*.swp,publish/*,intermediate/*,*.o,*.hi,Zend,vendor
vim.opt.wildignore = { '.DS_Store', '*.obj', '.svn', '*~', '*.png', '*.jpg', '*.gif', '*.min.js', '*.swp', '*.o' }
-- -- Permanent undo
vim.opt.undodir = vim.fn.expand('~/.vim/undodir')
vim.opt.undofile = true
-- Wrapping options
-- t: Auto wrap text using 'textwidth'.
-- c: Use 'textwidth' to autofold the comment and auto-insert the current comment start string.
-- r: After typing <Enter> in insert mode, the current comment start string is automatically inserted.
-- q: Format the comment with "gq".
-- n: Recognize numbered lists when formatting text.
-- l: Long lines do not wrap in insert mode
-- j: Remove comment leaders when concatenating lines, if possible
vim.opt.formatoptions = 'tcrqnlj'
-- set backspace=indent,eol,start -- Backspace over newlines
vim.opt.backspace = 'indent,eol,start'
-- set ttyfast
vim.opt.ttyfast = true
-- set iminsert=0 imsearch=0
vim.opt.iminsert = 0
vim.opt.imsearch = 0
vim.opt.imcmdline = false
vim.opt.imdisable = false
vim.cmd([[inoremap <ESC> <ESC>:set iminsert=0<CR>]])
-- =============================================================================
--  GUI settings
-- =============================================================================
-- 日本語文字化け対策
vim.opt.ttimeout = true
vim.opt.ttimeoutlen = 50
-- set termguicolors
vim.opt.termguicolors = true
-- set background=dark
vim.opt.background = 'dark'
-- set smartindent
vim.opt.smartindent = true
-- set breakindent
vim.opt.breakindent = true
-- set cmdheight=2: Better display for messages
vim.opt.cmdheight = 2
-- set printencoding=utf-8
-- vim.opt.printencoding = 'utf-8'
-- set signcolumn=yes: Always draw sign column. Prevent buffer moving when adding/deleting sign.
vim.opt.signcolumn = "yes"
-- Sane splits
vim.opt.splitright = true
vim.opt.splitbelow = true
-- Proper search
-- set hlsearch
vim.opt.hlsearch = true
-- set incsearch
vim.opt.incsearch = true
-- set ignorecase
vim.opt.ignorecase = true
-- set smartcase
vim.opt.smartcase = true
-- set wrapscan
vim.opt.wrapscan = true
-- set lazyredraw
vim.opt.lazyredraw = true
-- Show (partial) command in status line.
vim.opt.showcmd = true
-- set synmaxcol=500
vim.opt.synmaxcol = 500
-- set laststatus=2
vim.opt.laststatus = 2
-- set relativenumber: Relative line numbers
vim.opt.relativenumber = true
-- set number: Also show current absolute line
vim.opt.number = true
-- diff options
-- set diffopt+=iwhite: No whitespace in vimdiff
vim.opt.diffopt:append({ 'iwhite' })
-- set cc=101
vim.wo.colorcolumn = "101"
-- menuone: popup even when there's only one match
-- noinsert: Do not insert text until a selection is made
-- noselect: Do not select, force to select one from the menu
-- shortness: avoid showing extra messages when using completion
-- updatetime: set updatetime for CursorHold
vim.opt.completeopt = { 'menuone', 'noselect', 'noinsert' }
vim.opt.shortmess = vim.opt.shortmess + { c = true }
vim.api.nvim_set_option('updatetime', 300)
vim.cmd([[
    set signcolumn=yes
    autocmd CursorHold * lua vim.diagnostic.open_float(nil, { focusable = false })
]])
-- Glow.nvim
vim.g.glow_view_height = 800
vim.g.glow_view_width = 1200
