[cmd_duration]
min_time = 500
format = "underwent [$duration](bold yellow)"

[aws]
symbol = " "

[conda]
symbol = " "

[dart]
symbol = " "

[directory]
read_only = " "

[docker_context]
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[git_branch]
symbol = " "

[golang]
symbol = " "

[hg_branch]
symbol = " "

[java]
symbol = " "

[julia]
symbol = " "

[memory_usage]
symbol = " "

[nim]
symbol = " "

[nix_shell]
symbol = " "

[nodejs]
symbol = " "

[package]
symbol = " "

[perl]
symbol = " "

[php]
symbol = " "

[python]
symbol = " "
pyenv_version_name = true
# Only use the `python3` binary to get the version.
python_binary = "python3"

[ruby]
symbol = " "

[rust]
symbol = "🦀 "
format = "via [🦀 $version](red bold)"

[swift]
symbol = "ﯣ "
